<h1>Bonjour! Comfirme ton email ici</h1>

<p>
    Comfirm ton email  en cliquand sur lien <br><br>
    <a href="{{ signedUrl }}">Confirmation de mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Partager
</p>
